<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abingo Wang - Work</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<header class="header">
    <nav class="navbar">
        <div class="navbar__container">
            <a href="./index.html" class="navbar__logo">
                <i class="fas fa-code"></i>
                Abingo Wang
            </a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item"><a href="./index.html" class="navbar__links">Home</a></li>
                <li class="navbar__item"><a href="./work.html" class="navbar__links navbar__links--active">Work</a></li>
                <li class="navbar__item"><a href="./about.html" class="navbar__links">About</a></li>
                <li class="navbar__item"><a href="./contact.html" class="navbar__links">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>

</body>
</html>