{% load static %}
<link rel="stylesheet" href={% static "plugins/css2" %}>
<link rel="stylesheet" href={% static "plugins/style.css" %}>
<link rel="stylesheet" href={% static "plugins/bootstrap.min.css" %}>
<link rel="stylesheet" href={% static "plugins/magnific-popup.css" %}>
<link rel="stylesheet" href={% static "plugins/jquery-ui.css" %}>
<link rel="stylesheet" href={% static "plugins/owl.carousel.min.css" %}>
<link rel="stylesheet" href={% static "plugins/owl.theme.default.min.css" %}>
<link rel="stylesheet" href={% static "plugins/lightgallery.min.css" %}>
<link rel="stylesheet" href={% static "plugins/bootstrap-datepicker.css" %}>
<link rel="stylesheet" href={% static "plugins/flaticon.css" %}>
<link rel="stylesheet" href={% static "plugins/swiper.css" %}>
<link rel="stylesheet" href={% static "plugins/aos.css" %}>
<link rel="stylesheet" href={% static "plugins/style(1).css" %}>